:root {
  --font-family: "Inter", sans-serif;
  --btncolor: #448c74;
  --btncolor-hover: #37715d;
  --background: #858c97;
  --icon-color: #edcb50;
  --text: #434a57;
  --text2: #576071;
}

body {
  background-color: #f6f9fc;
  font-family: var(--font-family);
}
* {
  transition: 0.2s ease;
}
.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  background-color: var(--btncolor);
  cursor: pointer;
  font-weight: 600;
}
.btn:hover {
  background-color: var(--btncolor-hover);
}

/* header start */
.header {
  display: flex;
  gap: 50px;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
}
.header .header-link {
  display: flex;
  gap: 7px;
  font-size: 22px;
  font-weight: bold;
}
.header .header-logo {
  fill: var(--btncolor);
}
.header .navbar {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: flex-end;
}
.header .navbar-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar-link {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}
.navbar-item:hover {
  color: var(--btncolor);
}
.button-container {
  padding-left: 500px;
}
.header .btn i {
  margin-right: 8px;
  font-size: 18px;
}
/* header end */

/* section hero start*/
.hero {
  display: flex;
  gap: 100px;
  padding: 100px 0;
  justify-content: space-between;
  align-items: center;
}
.hero-container {
  max-width: 500px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.hero .hero-title {
  font-size: 65px;
  font-weight: 600;
}
.hero .hero-content {
  color: var(--text);
  font-size: 18px;
}
.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 18px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}
.inputBox i {
  position: absolute;
  left: 15px;
  color: var(--background);
  font-size: 18px;
}

/* Input styling */
.inputBox input {
  padding-left: 35px;
  padding-right: 90px;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
.inputBox input::placeholder {
  color: #aaa;
  opacity: 0.7;
}

/* Button styling */
.inputBox .btn {
  position: absolute;
  right: 12px;
  border-radius: 10px;
  padding: 12px 12px;
}

/* section hero end*/

/* statistics start */
.statistics {
  display: flex;
  background-color: #fff;
  border-radius: 40px;
  padding: 80px 150px;
  justify-content: space-between;
}
.stat-number {
  font-weight: 600;
  color: var(--btncolor);
  font-size: 50px;
}
.stat-description {
  color: var(--text);
}

/* our-services start */
.our-services {
  padding: 170px 0;
}
.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.services-title {
  font-size: 40px;
  font-weight: 600;
}
.services-description {
  color: var(--text);
  padding-bottom: 50px;
}
.service-icon {
  fill: var(--icon-color);
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.service-item {
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.service-title {
  font-size: 24px;
  font-weight: 500;
  left: 0;
}
.service-description {
  color: var(--text);
  padding-bottom: 20px;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px;
  color: var(--btncolor-hover);
}
.service-item:hover {
  background-color: var(--btncolor-hover);
  color: white;
}

.service-item:hover .service-title,
.service-item:hover .icon-circle i,
.service-item:hover .icon-circle {
  color: white;
}

.service-item:hover .service-description {
  color: #ccc;
}
/* industries section start */
.industries-header {
  text-align: center;
}
.industries-title {
  font-size: 40px;
  padding-bottom: 20px;
}
.industries-description {
  font-size: 16px;
  color: var(--text2);
}
.industries-image img {
  border-radius: 30px;
  border-bottom-right-radius: 0;
}
.industries-container {
  display: flex;
  gap: 20px;
}
.industries-wrapper {
  border-radius: 30px;
  background-color: #fff;
  max-width: 450px;
  margin-top: 35px;
}
.industries-content {
  padding: 40px;
}
.industries-subtitle {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 500;
}
.industries-list {
  line-height: 30px;
}
.industries-item {
  color: var(--text2);
}
.industries-item::before {
  content: "•";
  color: var(--text2);
  font-size: 20px;
  display: inline-block;
  width: 10px;
  margin-right: 10px;
}
.industries-btn {
  padding: 15px 30px;
  text-align: center;
  margin: 15px 0;
}
/* clients section start */
.clients-header {
  text-align: center;
}
.clients-title {
  font-size: 40px;
  padding-bottom: 20px;
}
.clients-description {
  font-size: 16px;
  color: var(--text2);
}
